<!DOCTYPE html>
<html lang="en">
<head>
    <title>yjtyj</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


    <link  href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link  href='/stylesheets/style.css' rel='stylesheet'/>
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/freelancer.min.css" rel="stylesheet">

    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jqBootstrapValidation.js"></script>
    <script src="/javascripts/contact_me.js"></script>
    <script src="/javascripts/handlebars.js"></script>




</head>

<body id="page-top">
  <div>
      {{{body}}}
  </div>
</body>
</html>
